{
  "extends": ["airbnb-base"],
  "rules": {
    // "no-unused-vars": ["error", { "args": "none" }],
    // "object-curly-newline": "off",
    // "function-paren-newline": "off",
    // "implicit-arrow-linebreak": "off",
    // "func-names": ["error", "never"],
    // "no-console": "off",
    // "consistent-return": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
